.animated {
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: ease-in;
}

.animated-500ms {
  transition-duration: 500ms;
}

.animated-1000ms {
  transition-duration: 1000ms;
}

.container {
  width: 1170px;
  margin: 0 auto;

  @media(max-width: 1170px) {
    width: 100%;
  }
}

.FormGroup {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  margin-bottom: .5rem;
}

input {
  padding: 1rem 2rem;
}
