.animated {
  animation: all .5s ease-in;
}

.container {
  width: 1170px;
  margin: 0 auto;

  @media(max-width: 1170px) {
    width: 100%;
  }
}

.FormGroup {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  margin-bottom: .5rem;
}

input {
  padding: 1rem 2rem;
}