.Splash {
  &__section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      color: #333;
      font-size: 64px;
      font-weight: 400;
      letter-spacing: 10px;
      text-transform: uppercase;
    }
  }
}